<ion-content>
  <!-- !Portada -->
  <div class="portada">
    <!-- !menubutton -->
    <ion-buttons size="xx-large" class="menub" slot="end">
      <ion-menu-button size="xx-large"></ion-menu-button>
    </ion-buttons>
    <!-- Backbutton -->
    <ion-buttons class="back" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- back -->
    <div class="label">
      <ion-label class="yellow">Registr</ion-label>
      <ion-label class="blue">App</ion-label>
    </div>

    <div class="label2">
      <ion-label class="yellow">Duoc</ion-label>
      <ion-label class="blue">UC</ion-label>
    </div>
  </div>


<!-- *BODY -->
<div class="bienvenido">
  <ion-title class="color">
    Bienvenido {{ nombreUsuario }} !
  </ion-title>
  <img src="https://i.pinimg.com/originals/6c/6b/a4/6c6ba469e3bc075c7d087b5d6141e28e.gif" alt="My-gif">
  <ion-title  class="color">{{ currentDateTime }}</ion-title>
</div>

<!-- *CLIMA -->
<div class="clima">

  <ion-label class="titulo" >
    Clima Melipilla
  </ion-label>
  <ion-item  lines="none" *ngIf="jsonData">
    
    <p>{{ translatedDescription }}</p> 

    <img src="https://openweathermap.org/img/wn/{{jsonData.weather[0].icon}}@2x.png" alt=""> 
  </ion-item>

</div>

  

<!-- !TAB-BAR -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" class="selected"  >
        <ion-icon  ios="home" md="home" ></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="camera" [routerLink]="['/qr']">
        <ion-icon ios="camera" md="camera"></ion-icon>
        QR
      </ion-tab-button>
      <ion-tab-button tab="calendar" [routerLink]="['/calendar']">
        <ion-icon ios="calendar" md="calendar"></ion-icon>
        Horario
      </ion-tab-button>

      <!-- !para agregar mas -->
      <!-- <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        name
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
